<% content_for :title, "Smocafe | 投稿" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 shadow-sm">
        <div class="card-body p-4 p-lg-5">
          <h1 class="h3 mb-2">投稿する</h1>
          <p class="text-secondary mb-4">
            <span class="fw-semibold text-dark"><%= @shop.name %></span> の利用情報を投稿します。
          </p>

          <%= render "form", shop: @shop, report: @report %>
        </div>
      </div>
    </div>
  </div>
</div>
